[submodule "bundle/fzf"]
	path = pack/myplugs/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "bundle/fzf.vim"]
	path = pack/myplugs/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "bundle/vim-gitgutter"]
	path = pack/myplugs/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/vim-surround"]
	path = pack/myplugs/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/vim-repeat"]
	path = pack/myplugs/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "bundle/vim-commentary"]
	path = pack/myplugs/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/vim-argwrap"]
	path = pack/myplugs/start/vim-argwrap
	url = https://github.com/FooSoft/vim-argwrap
[submodule "bundle/jedi-vim"]
	path = pack/myplugs/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "bundle/vim-closetag"]
	path = pack/myplugs/start/vim-closetag
	url = https://github.com/alvan/vim-closetag
[submodule "bundle/vim-unimpaired"]
	path = pack/myplugs/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "bundle/lexima.vim"]
	path = pack/myplugs/start/lexima.vim
	url = https://github.com/cohama/lexima.vim
[submodule "bundle/neomake"]
	path = pack/myplugs/start/neomake
	url = https://github.com/neomake/neomake
[submodule "bundle/nvim-ipython-repl"]
	path = pack/myplugs/start/nvim-ipython-repl
	url = https://github.com/shea-parkes/nvim-ipython-repl
[submodule "bundle/black"]
	path = pack/myplugs/start/black
	url = https://github.com/psf/black
	branch = main
[submodule "bundle/vim-vinegar"]
	path = pack/myplugs/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "bundle/targets.vim"]
	path = pack/myplugs/start/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "pack/myplugs/start/lualine.nvim"]
	path = pack/myplugs/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "pack/myplugs/start/nvim-treesitter"]
	path = pack/myplugs/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/myplugs/start/nvim-treesitter-refactor"]
	path = pack/myplugs/start/nvim-treesitter-refactor
	url = https://github.com/nvim-treesitter/nvim-treesitter-refactor
[submodule "pack/myplugs/start/gruvbox-baby"]
	path = pack/myplugs/start/gruvbox-baby
	url = https://github.com/luisiacc/gruvbox-baby
